<div>
<p><%= link_to "Wikinimous", articles_path %></p>
<p><%= link_to "New article", new_article_path %></p>
</div>

<ul><% @articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %>
      <%= article.content %>
  </li>
<% end %></ul>
